<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>vue-v-model</title>
	<script type="text/javascript" src="../assets/js/vue.js"></script>
</head>
<body>
	<h2>v-model</h2>
	<div id="app">
		<p>原始文本内容：{{ message }}</p>
		<h3>文本框</h3>
		<p>
			v-model:
			<input type="text" v-model="message" name="">
		</p>
		<p>
			v-model.lazy:
			<input type="text" v-model.lazy="message" name="">
		</p>
		<p>
			v-model.number:
			<input type="text" v-model.number="message" name="">
		</p>
		<p>
			v-model.trim:
			<input type="text" v-model.trim="message" name="">
		</p>
		<hr>
		<h3>文本域</h3>
		<p>
			<textarea v-model="message" cols="30" rows="5"></textarea>
		</p>
		<hr>
		<h3>多选框绑定一个值</h3>
		<p>
			<input type="checkbox" id="isOk" v-model="isTrue" name="">
			<label for="isOk"> {{ isTrue }} </label>
		</p>
		<hr>
		<h3>多选框绑定数组</h3>
		<p>
			<input type="checkbox" id="wolegejun" value="wolegejun" v-model="web_names" name="">
			<label for="wolegejun">wolegejun</label>
			<input type="checkbox" id="panpan" value="panpan" v-model="web_names" name="">
			<label for="panpan">panpan</label>
			<input type="checkbox" id="junjun" value="junjun" v-model="web_names" name="">
			<label for="junjun">junjun</label>
		</p>
		<p>{{web_names}}</p>
		<hr>
		<h3>单选框绑定</h3>
		<p>
			<input type="radio" id="one" value="男" v-model="sex" name="">
			<label for="one">男</label>
			<input type="radio" id="two" value="女" v-model="sex" name="">
			<label for="two">女</label>
		</p>
		<p>你选择的性别是：{{sex}}</p>
	</div>
	<script type="text/javascript">
		var app = new Vue({
			el: '#app',
			data: {
				message: "wolegejun",
				isTrue: true,
				web_names: [],
				sex: '男'
			}
		})
	</script>
</body>
</html>